/* Component styling */

body {
	background: black;
	font-family: 'Roboto Slab', serif;
}


.question-box {
  background: #1d328e;
  border-color : gray;
  border-width: 3px;
  border-style: solid;
  color : white;
  text-align: center;
  width: 960px;
  margin-top: 50%;
	margin: 0 auto;
	padding: 10px;
	font-size: 1.5em;
}

.custom-info {
  background: #0DA4E6;
  border-color : yellow;
  border-width: 3px;
  border-style: solid;
  color : black;
  width: 600px;
  margin-top: 50%;
	margin: 0 auto;
	padding: 10px;
	font-size: 1.5em;
}

.custom-text-left {
  background: #0DA4E6;
  color : black;
  text-align: left;
	padding: 10px;
	font-size: 1.5em;
}

.custom-text-center {
  background: #0DA4E6;
  color : black;
  text-align: center;
	padding: 10px;
	font-size: 1.5em;
}

.custom-text-right {
  background: #0DA4E6;
  color : black;
  text-align: right;
	padding: 10px;
	font-size: 1.5em;
}

.active {
  background-color: #333;
}

.answer-list {
  list-style: none;
  margin: 20px 0;
}

.answer {
  margin: 0;
  padding: 0;
}

.answer-button:focus {
  background-color: #333;
}

.instruction {
  font-weight: 600;
}

.instruction {
  height:        15px;
  border-radius: 10px;
  color: white;
}
.progressTextClassName,
.progress,
.progress-bar {
  height:        15px;
  border-radius: 10px;
  color: white;
  font-size: 1.5em;
}

.progress-bar {
  [dir="rtl"] & {
    float: right;
  }
}
